# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
out

# Turbo
.turbo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V2
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache
.prettier_cache
.cache

# Coverage
coverage
*.lcov
.nyc_output

# Temp
tmp
temp
